*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --text-color: #E1E1E6;
  --button-hover: #FFFFFF;
  --button-text: #02799D;
  --text-main: #C4C4CC;
}

body{
  font-family: "Roboto", sans-serif;
  display: grid;
  justify-content: center;
  background-size: cover;
  background-color: black;
  min-height: 100vh;
  transition: background-image .5s ease;
}

nav{
  position: absolute;
  top: 4rem;
  left: 7.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem;
}

nav a{
  color: var(--text-main);
  font-size: 2rem;
  line-height: 2rem;

  text-decoration: none;
  padding-bottom: 1rem;
}

.content{
  max-width: 64.8rem;
  display: flex;
  flex-direction: column;
  animation: topdown 700ms 350ms backwards;
}

.content h1{
  text-align: center;
}

.content h1,
.content h2{
  color: var(--text-color);
  font-size: 4.8rem;
  line-height: 125%;
}

.content p{
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 160%;
}

.button{
  background: transparent;
  color: var(--text-color);

  padding:1.2rem 3.2rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  cursor: pointer;
}

.button:hover{
  background-color: var(--button-hover);
  color: var(--button-text);
  transform: scale(1.1);
}